<nav class="nav d-flex justify-content-between">
  <div class="d-flex">
    <i
      type="button"
      (click)="sideBarOpen()"
      class="side-bar-button p-3 fs-5 pi pi-align-justify"
    ></i>
    <div class="p-toolbar-group-center align-self-center">
      <span class="search p-input-icon-left">
        <i class="pi pi-search"></i>
        <input class="search-bar" pInputText />
      </span>
    </div>
  </div>
  <div class="avatarDiv">
    <p-button
      (click)="logOut()"
      class="fs-6"
      label="Log Out"
      severity="warning"
    ></p-button>
    <p-avatar
      class="ms-1"
      (click)="profile()"
      [image]="
        user?.image ||
        'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'
      "
      styleClass="mr-2"
      size="large"
      shape="circle"
    ></p-avatar>
  </div>
</nav>
