<h2 class="p-5 pt-2 main position-relative fw-bolder">Courses</h2>
<div class="cards container-fluid p-5 pt-0 d-grid">
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-01.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-01.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Material Web Design</p>
      <span class="text-white-50 pb-4 text-center"
        >Master The Art Of Web Designing And Mocking, Prototyping And Creating
        Web Design Architecture
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>950</span>
      </div>
      <div class="money date"><span>165$</span></div>
    </div>
  </p-card>
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-02.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-02.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Data Structure And Algorithms</p>
      <span class="text-white-50 pb-4 text-center"
        >Master The Art Of Data Strcuture And Famous Algorithms Like Sorting,
        Dividing And Conquering
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>1150</span>
      </div>
      <div class="money date"><span>210$</span></div>
    </div>
  </p-card>
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-03.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-03.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Responsive Web Design</p>
      <span class="text-white-50 pb-4 text-center"
        >Mastering Responsive Web Design And Media Queries And Know Everything
        About Breakpoints
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>650</span>
      </div>
      <div class="money date"><span>150$</span></div>
    </div>
  </p-card>
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-04.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-04.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Material Web Design</p>
      <span class="text-white-50 pb-4 text-center"
        >Master The Art Of Web Designing And Mocking, Prototyping And Creating
        Web Design Architecture
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>950</span>
      </div>
      <div class="money date"><span>165$</span></div>
    </div>
  </p-card>
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-05.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-05.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Mastering Python</p>
      <span class="text-white-50 pb-4 text-center"
        >Mastering Python To Prepare For Data Science And AI And Automating
        Things in Your Life
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>950</span>
      </div>
      <div class="money date"><span>200$</span></div>
    </div>
  </p-card>
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-01.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-01.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Material Web Design</p>
      <span class="text-white-50 pb-4 text-center"
        >Master The Art Of Web Designing And Mocking, Prototyping And Creating
        Web Design Architecture
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>950</span>
      </div>
      <div class="money date"><span>165$</span></div>
    </div>
  </p-card>
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-02.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-02.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Data Structure And Algorithms</p>
      <span class="text-white-50 pb-4 text-center"
        >Master The Art Of Data Strcuture And Famous Algorithms Like Sorting,
        Dividing And Conquering
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>1150</span>
      </div>
      <div class="money date"><span>210$</span></div>
    </div>
  </p-card>
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-03.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-03.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Responsive Web Design</p>
      <span class="text-white-50 pb-4 text-center"
        >Mastering Responsive Web Design And Media Queries And Know Everything
        About Breakpoints
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>650</span>
      </div>
      <div class="money date"><span>150$</span></div>
    </div>
  </p-card>
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-04.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-04.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Material Web Design</p>
      <span class="text-white-50 pb-4 text-center"
        >Master The Art Of Web Designing And Mocking, Prototyping And Creating
        Web Design Architecture
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>950</span>
      </div>
      <div class="money date"><span>165$</span></div>
    </div>
  </p-card>
  <p-card class="card1">
    <ng-template pTemplate="header">
      <div class="d-flex header position-relative justify-content-between">
        <img
          class="img-fluid team"
          alt="Card"
          src="../../assets/images/team-05.png"
        />

        <img
          class="img-fluid course"
          alt="Card"
          src="../../assets/images/course-05.jpg"
        />
      </div>
    </ng-template>
    <div
      class="info d-flex justify-content-center flex-column align-items-center"
    >
      <p class="text-white">Mastering Python</p>
      <span class="text-white-50 pb-4 text-center"
        >Mastering Python To Prepare For Data Science And AI And Automating
        Things in Your Life
      </span>
      <p-button label="Course Info" severity="warning"></p-button>
    </div>
    <div class="foot d-flex justify-content-between pt-3">
      <div class="user date">
        <i class="me-1 pi pi-user"></i>
        <span>950</span>
      </div>
      <div class="money date"><span>200$</span></div>
    </div>
  </p-card>
</div>
