.form {
  background-color: #424242;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
h1 {
  color: white;
}
.login {
  position: relative;
  top: 10px;
  margin-bottom: 20px;
}
input {
  margin-top: 10px;
  width: 100%;
  background-color: #424242;
  padding: 10px;
  border-radius: 5px;
}
input::placeholder {
  color: #b8bebe;
}
.choose {
  color: #ffffff;
  background: #f97316;
  border: 1px solid #f97316;
  height: fit-content;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .form {
    width: 80%;
  }
  .input {
    padding-top: 0 !important;
  }
}
@media (max-width: 576px) {
  .form {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .form {
    width: 90%;
  }
}
