<div
  class="form d-flex justify-content-center flex-column align-items-center position-absolute"
  [formGroup]="register"
>
  <h1 class="login fw-bold fs-4">Register</h1>
  <div class="avatar align-items-center d-flex justify-content-center">
    <p-avatar
      [image]="
        register.get('image')?.value ||
        'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'
      "
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
    <label for="avatar" class="choose p-button"> Choose File </label>
    <input
      type="file"
      id="avatar"
      class="d-none"
      accept="image/*"
      (change)="onFileSelected($event)"
    />
  </div>

  <div class="input p-3">
    <span class="p-float-label p-2">
      <input
        formControlName="username"
        id="float-input-username"
        type="text"
        size="50"
        pInputText
      />
      <label for="float-input-username text-white-50">First Name</label>
    </span>
    <span class="p-float-label p-2">
      <input
        formControlName="password"
        id="float-input-password"
        type="password"
        size="50"
        pInputText
      />

      <label for="float-input-password text-white-50">Password</label>
    </span>
    <span class="p-float-label p-2">
      <input
        formControlName="confirmPassword"
        id="float-input-confirmPassword"
        type="password"
        size="50"
        pInputText
      />

      <label for="float-input-confirmPassword text-white-50"
        >Confirm Password</label
      >
    </span>
    <span class="p-float-label p-2">
      <input
        formControlName="email"
        id="float-input-email"
        type="text"
        size="50"
        pInputText
      />
      <label for="float-input-email text-white-50">Email</label>
    </span>
  </div>
  <button
    pButton
    pRipple
    (click)="registerSet()"
    [disabled]="register.invalid"
    label="Register"
    class="p-button-success w-75 p-3"
  ></button>
</div>
